<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Syneos Health Careers</title>
		<link rel="icon" href="favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
		<link rel="stylesheet" href="stylesheets/theme.css">
	</head>
	<body id="career_site_home_page">

		<!--[if lte IE 8]>
	      <div class="old-ie page-copy orange-bg">
	          <div class="row">
	            <div class="small-12 column text-center">
	              Our website works best with Chrome, Firefox or Safari. For IE browsers older than version 9, please do an upgrade here: <a href="https://www.microsoft.com/en-ca/download/internet-explorer.aspx" target="_blank">www.microsoft.com/en-ca/download/internet-explorer.aspx</a>.
	            </div>
	          </div>
	      </div>
	    <![endif]-->

		<div class="preloader"></div>

		<div id="page-container">

			<div id="header">
				<div class="row">
					<div class="small-10 medium-4 large-3 columns header__logo">
						<a href="#"><img src="assets/syneos-health-logo.png" alt="Syneos Health logo" /></a>
					</div>
					<div class="small-2 medium-8 large-9 columns header__mobile-menu text-right">
						<a href="javascript:void(0);"><i class="fa fa-bars" aria-hidden="true"></i></a>
					</div>
					<div class="small-12 columns header__menu">
						<div class="header__mobile-menu text-right">
							<a href="javascript:void(0);"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
						</div>
						<div class="header__menu-top">
							<span class="header__menu-top-inner">
								<span class="header__menu-top-select-outer">
									<select style="width: 148px;">
										<option value="">Career Areas</option>
										<option value="pages-career-areas.html">Advertising</option>
										<option value="pages-career-areas.html">Commercial Operations &amp; Leadership</option>
										<option value="pages-career-areas.html">Consulting</option>
										<option value="pages-career-areas.html">Field Medical</option>
										<option value="pages-career-areas.html">Medical Communications</option>
										<option value="pages-career-areas.html">Public Relations</option>
										<option value="pages-career-areas.html">Sales &amp; Market Access</option>
									</select>
								</span>
								<span class="header__menu-top-select-outer">
									<select style="width: 102px;">
										<option value="pages-career-areas.html">Country</option>
										<option value="pages-career-areas.html">Germany</option>
										<option value="pages-career-areas.html">Japan</option>
										<option value="pages-career-areas.html">UK</option>
										<option value="pages-career-areas.html">United States</option>
									</select>
								</span>
								<span class="header__menu-top-select-outer">
									<select style="width: 148px;">
										<option value="">Business Unit</option>
										<option value="pages-career-areas.html">Communications</option>
										<option value="pages-career-areas.html">Consulting</option>
										<option value="pages-career-areas.html">Selling Solutions</option>
									</select>
								</span>
								<a href="#" target="_blank" class="header__menu-top-login">Returning Candidate? Log in!</a>
							</span>
						</div>
						<div class="header__menu-bottom clearfix">
							<ul class="clearfix">
								<li><a href="#">Corporate Site</a></li>
								<li><a href="jobs-search.html">Search Careers</a></li>
								<li><a href="pages-why-work-here.html">Why Work Here</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!--close #header-->

			<div id="page-container-inner">

				<div id="banner" class="with-search">
					<div class="banner__list">
						<img src="assets/banner-image--consulting.jpg" alt="" />
						<img src="assets/banner-image--commercial-operations-leadership.jpg" />
						<img src="assets/banner-image--field-medical.jpg" />
						<img src="assets/banner-image--medical-communications.jpg" />
						<img src="assets/banner-image--public-relations.jpg" />
						<img src="assets/banner-image--sales-market-access.jpg" />
					</div>
					<div class="row">
						<div class="small-12 column">
							<div class="row banner__search fixed orange-bg">
								<div class="small-12 large-9 columns banner__search-item">
									<form>
										<div class="row banner__search-fields-top">
											<div class="small-12 medium-6 columns banner__search-fields">
												<input type="text" name="q" value="" placeholder="Enter Keywords" />
											</div>
											<div class="small-12 medium-3 large-4 columns">
												<input type="text" name="ns_location" value="" placeholder="Enter Location" />
											</div>
											<div class="small-12 medium-3 large-2 columns">
												<select name="ns_dist">
									                <option value="10">10 miles</option>
									                <option value="25" selected="">25 miles</option>
									                <option value="50">50 miles</option>
									                <option value="10000">100+</option>
									            </select>
											</div>
										</div>
										<div class="row banner__search-fields-bottom">
											<div class="small-12 medium-3 columns">
												<select name="cf[positiontype]" class="advanced-search-field">
									                <option value="">Select Position Type</option>
									                <option value="Administrative">Administrative</option>
									                <option value="Business Development">Business Development</option>
									                <option value="Call Center/Customer Service">Call Center/Customer Service</option>
									                <option value="Clinical/Nurse Educator/Nurse/CDE">Clinical/Nurse Educator/Nurse/CDE</option>
									                <option value="Clinical-Field Management (MSL, CDE, CNE)">Clinical-Field Management (MSL, CDE, CNE)</option>
									                <option value="Compliance">Compliance</option>
									                <option value="Consulting">Consulting</option>
									                <option value="Corporate Management">Corporate Management</option>
									                <option value="Data Entry">Data Entry</option>
									                <option value="Facilities/Operations">Facilities/Operations</option>
									                <option value="Finance/Accounting">Finance/Accounting</option>
									                <option value="Fleet">Fleet</option>
									                <option value="Human Resources">Human Resources</option>
									                <option value="Information Technology">Information Technology</option>
									                <option value="Legal">Legal</option>
									                <option value="Managed Markets">Managed Markets</option>
									                <option value="Market Research &amp; Analytics">Market Research &amp; Analytics</option>
									                <option value="Marketing &amp; Communications">Marketing &amp; Communications</option>
									                <option value="Medical Science Liaison">Medical Science Liaison</option>
									                <option value="Payroll">Payroll</option>
									                <option value="Project Management">Project Management</option>
									                <option value="Recruiting">Recruiting</option>
									                <option value="Sales-Field">Sales-Field</option>
									                <option value="Sales-Field Management">Sales-Field Management</option>
									                <option value="Sample Management">Sample Management</option>
									                <option value="Training">Training</option>
									            </select>
											</div>
											<div class="small-12 medium-3 columns">
												<select name="cf[employmenttype]" class="advanced-search-field">
									                <option value="">Select Employment Type</option>
									                <option value="Client Direct Hire">Client Direct Hire</option>
									                <option value="INC Research/inVentiv Health position">INC Research/inVentiv Health position</option>
									            </select>
											</div>
											<div class="small-12 medium-3 columns">
												<select name="cf[jobtype]" class="advanced-search-field">
									                <option value="">Select Job Type</option>
									                <option value="Full Time">Full Time</option>
									                <option value="Part Time">Part Time</option>
									                <option value="Per Diem">Per Diem</option>
									                <option value="Temporary">Temporary</option>
									            </select>
											</div>
											<div class="small-12 medium-3 columns">
												<input type="submit" value="Search" />
											</div>
										</div>
									</form>
								</div>
								<div class="small-12 large-3 columns banner__search-item">
									<a href="#" class="primary-button primary-button--full-width primary-button--white talent-network-button" style="line-height: 0;">Join our Talent Network</a>
								</div>
							</div><!--close .banner__search-->
						</div>
					</div>
				</div><!--close #banner-->

				<!--job start-->
				<div class="page-copy">
					<div class="row">
						<div class="small-12 column">
							<h1>Senior Software Engineer</h1>
							<div class="row">
								<div class="small-12 medium-6 columns">
									<p>
										<strong>Updated:</strong> Oct 24, 2023<br />
										<strong>Location:</strong> New York, NY<br />
										<strong>Job ID:</strong> JB-842-91-XQ
									</p>
								</div>
								<div class="small-12 medium-6 columns">
									<div id="apply--top" class="primary-button-outer primary-button--full-width-outer">
										<a href="#" class="primary-button primary-button--full-width">Apply</a>
									</div>
									<div class="job-details__share page-copy">
										<!-- share -->
										<div class="cs_share_container cs_cfix">
											<span class="share-text">Share this job</span>
											<span class="cs_share_email--manual">
												<a class="cs_email_btn" href="#"></a>
											</span>
											<span class="cs_share_google"><a class="cs_share_google_btn" target="_blank" href="#"><i></i><span class="cs_share_label">+1 on Google</span></a></span>
											<span class="cs_share_twitter"><a class="cs_share_twitter_btn" target="_blank" href="#"><i></i><span class="cs_share_label">Tweet</span></a></span>
											<span class="cs_share_facebook"><a class="cs_facebook_btn" target="_blank" href="#"><i></i><span class="cs_share_label">Share on Facebook</span></a></span>
											<span class="cs_share_linkedin"><a class="cs_share_linkedin_btn" target="_blank" href="#"><i></i><span class="cs_share_label">Share on LinkedIn</span></a></span>
										</div>
										<!-- share:end -->
									</div>
								</div>
							</div>

							<div class="job-details__content-description">
								<p>Donec commodo sapien ut vulputate efficitur. Praesent et elementum magna, quis vestibulum enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vitae molestie arcu. Mauris quis nulla augue. Vestibulum tincidunt cursus cursus. Curabitur et nibh ullamcorper, gravida tellus eu, aliquet ligula. Vivamus a consequat lorem. Suspendisse volutpat tincidunt lorem.</p>

								<p>Sed posuere lectus arcu, vestibulum blandit orci rutrum eget. Duis ullamcorper bibendum mauris ullamcorper vulputate. Aliquam posuere pellentesque porta. Maecenas porttitor purus non lobortis fermentum. Pellentesque sed orci consequat, ultricies massa vitae, aliquam eros. Sed rhoncus ultricies rhoncus. Donec risus metus, porttitor a ornare fermentum, gravida vel sapien. Aenean eleifend massa id metus tincidunt, nec convallis eros vehicula. Phasellus molestie congue eleifend. Aliquam vel accumsan sapien, vel tincidunt dolor. Fusce fringilla quis nibh at tempus. Maecenas rutrum velit id tellus mollis malesuada. Mauris sed urna neque. In hac habitasse platea dictumst. Etiam sit amet sagittis nisl. Nunc ut dolor diam.</p>

								<p>Donec maximus fermentum urna, in sollicitudin quam mollis ut. Vivamus in congue erat. Phasellus at dolor elementum, maximus enim a, eleifend augue. Praesent vitae neque vel dolor aliquet porttitor. Pellentesque sed erat sollicitudin, tincidunt mauris quis, sagittis mi. Nullam vitae nisl eu tortor mollis rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras finibus lacus in ipsum gravida, id faucibus massa mollis. Suspendisse suscipit ante sit amet egestas blandit. Integer lobortis elit dui, in egestas libero efficitur sed. Vestibulum at erat ante. Praesent dolor nulla, varius eu quam vel, luctus sollicitudin elit. Mauris a libero velit. Donec posuere tellus venenatis nisl aliquet, nec rhoncus est faucibus.</p>

								<p>>Phasellus mollis tortor laoreet tortor facilisis faucibus. Nullam a augue vitae tortor porttitor dictum. Nunc tristique eget eros a accumsan. Suspendisse ut varius magna. Donec lorem libero, iaculis sit amet faucibus ac, facilisis quis nulla. Mauris non sagittis enim. Etiam eu tellus ac eros elementum tincidunt. Etiam scelerisque diam nisi, quis tincidunt dui finibus in. Vivamus risus purus, tincidunt ac consequat ac, malesuada eu est. Suspendisse odio nibh, tincidunt in eros eget, bibendum porttitor velit.</p>

								<p>Donec commodo sapien ut vulputate efficitur. Praesent et elementum magna, quis vestibulum enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis vitae molestie arcu. Mauris quis nulla augue. Vestibulum tincidunt cursus cursus. Curabitur et nibh ullamcorper, gravida tellus eu, aliquet ligula. Vivamus a consequat lorem. Suspendisse volutpat tincidunt lorem.</p>

								<p>Sed posuere lectus arcu, vestibulum blandit orci rutrum eget. Duis ullamcorper bibendum mauris ullamcorper vulputate. Aliquam posuere pellentesque porta. Maecenas porttitor purus non lobortis fermentum. Pellentesque sed orci consequat, ultricies massa vitae, aliquam eros. Sed rhoncus ultricies rhoncus. Donec risus metus, porttitor a ornare fermentum, gravida vel sapien. Aenean eleifend massa id metus tincidunt, nec convallis eros vehicula. Phasellus molestie congue eleifend. Aliquam vel accumsan sapien, vel tincidunt dolor. Fusce fringilla quis nibh at tempus. Maecenas rutrum velit id tellus mollis malesuada. Mauris sed urna neque. In hac habitasse platea dictumst. Etiam sit amet sagittis nisl. Nunc ut dolor diam.</p>

								<p>Donec maximus fermentum urna, in sollicitudin quam mollis ut. Vivamus in congue erat. Phasellus at dolor elementum, maximus enim a, eleifend augue. Praesent vitae neque vel dolor aliquet porttitor. Pellentesque sed erat sollicitudin, tincidunt mauris quis, sagittis mi. Nullam vitae nisl eu tortor mollis rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras finibus lacus in ipsum gravida, id faucibus massa mollis. Suspendisse suscipit ante sit amet egestas blandit. Integer lobortis elit dui, in egestas libero efficitur sed. Vestibulum at erat ante. Praesent dolor nulla, varius eu quam vel, luctus sollicitudin elit. Mauris a libero velit. Donec posuere tellus venenatis nisl aliquet, nec rhoncus est faucibus.</p>

								<p>>Phasellus mollis tortor laoreet tortor facilisis faucibus. Nullam a augue vitae tortor porttitor dictum. Nunc tristique eget eros a accumsan. Suspendisse ut varius magna. Donec lorem libero, iaculis sit amet faucibus ac, facilisis quis nulla. Mauris non sagittis enim. Etiam eu tellus ac eros elementum tincidunt. Etiam scelerisque diam nisi, quis tincidunt dui finibus in. Vivamus risus purus, tincidunt ac consequat ac, malesuada eu est. Suspendisse odio nibh, tincidunt in eros eget, bibendum porttitor velit.</p>
							</div>

							<div class="page-copy hide">
								{% if job.cfdisplay_EmploymentType != 'Client Direct Hire' %}
									{% if job.cfdisplay_PositionType != blank %}
										{% assign career_area_counter = 0 %}
										<div class="job-details-video">
											<div class="row">
												{% case job.cfdisplay_PositionType %}
													{% when 'Business Development' or 'Call Center/Customer Service' or 'Managed Markets' or 'Sales-Field' or 'Sales-Field Management' %}
														<div class="small-12 medium-8 large-6 end column job-details-video__item">
															<iframe width="560" height="315" src="https://www.youtube.com/embed/vfk7iJmALoQ?ecver=1&rel=0" frameborder="0" allowfullscreen></iframe>
														</div>

													{% when 'Clinical/Nurse Educator/Nurse/CDE' or 'Clinical-Field Management (MSL, CDE, CNE)' or 'Medical Science Liaison' %}
														<div class="small-12 medium-8 large-6 end column job-details-video__item">
															<iframe width="560" height="315" src="https://www.youtube.com/embed/40Pf8hgnzGE?ecver=1&rel=0" frameborder="0" allowfullscreen></iframe>
														</div>

													{% when 'Administrative' or 'Business Development' or 'Call Center/Customer Service' or 'Compliance' or 'Corporate Management' or 'Data Entry' or 'Facilities/Operations' or 'Finance/Accounting' or 'Fleet' or 'Human Resources' or 'Information Technology' or 'Legal' or 'Market Research & Analytics' or 'Marketing & Communications' or 'Payroll' or 'Project Management' or 'Recruiting' or 'Sample Management' or 'Training' %}
														<div class="small-12 medium-8 large-6 end column job-details-video__item">
															<iframe width="560" height="315" src="https://www.youtube.com/embed/9Pt0Mk1Y-64?ecver=1&rel=0" frameborder="0" allowfullscreen></iframe>
														</div>

													{% when 'Administrative' or 'Corporate Management' or 'Facilities/Operations' or 'Finance/Accounting' or 'Human Resources' or 'Information Technology' or 'Market Research & Analytics' or 'Marketing & Communications' or 'Project Management' or 'Training' %}
														<div class="small-12 medium-8 large-6 end column job-details-video__item">
															<iframe width="560" height="315" src="https://www.youtube.com/embed/Y524Ydlrg0Q?ecver=1&rel=0" frameborder="0" allowfullscreen></iframe>
														</div>
												{% endcase %}
											</div>
										</div><!--close .job-details-video-->
									{% endif %}
								{% endif %}
							</div><!--close .page-copy-->

							<div class="page-copy">
								<div class="row">
									<div class="small-12 medium-6 medium-offset-6 end column">
										<a href="#" class="primary-button primary-button--full-width" id="apply--bottom---">Apply</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div><!--close .page-copy-->
				<!--job end-->

				<div id="discover-more" class="orange-bg">
					<div class="row">
						<div class="small-12 column text-center">
							<h2>Discover More About Syneos Health</h2>
						</div>
					</div>
					<div class="row discover-more__list">
						<div class="small-12 medium-4 columns discover-more__item-outer text-center">
							<div class="discover-more__item">
								<h2><a href="pages-career-areas.html">Communications Careers</a></h2>
							</div>
						</div>
						<div class="small-12 medium-4 columns discover-more__item-outer text-center">
							<div class="discover-more__item">
								<h2><a href="pages-career-areas.html">Consulting Careers</a></h2>
							</div>
						</div>
						<div class="small-12 medium-4 columns discover-more__item-outer text-center">
							<div class="discover-more__item">
								<h2><a href="pages-career-areas.html">Selling Solutions Careers</a></h2>
							</div>
						</div>
					</div>
				</div><!--close #discover-more-->

				<div id="interested-connect" class="gray-bg-3 page-copy">
					<div class="row">
						<div class="small-12 large-8 columns interested-connect__get-in-touch">
							<p>
								Interested in Syneos Health?
								<a href="#" class="primary-button primary-button--orange">Get In Touch</a>
							</p>
						</div>
						<div class="small-12 large-4 columns interested-connect__social-media text-right">
							<p>
								Connect
								<a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
								<a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
								<a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							</p>
						</div>
					</div>
				</div><!--close #interested-connect-->

				<div id="footer" class="gray-bg-2">
					<div class="row">
						<div class="small-12 medium-8 columns">
							<div class="footer__item">
								<div class="row">
									<div class="small-12 medium-4 columns footer__copy">
										<p>Syneos Health (Nasdaq:XXX) is the only fully integrated biopharmaceutical solutions organization. Our company, including a Contract Research Organization (CRO) and Contract Commercial Organization (CCO), is purpose-built to address new market realities where clinical and commercial share expertise, data and insights to accelerate biopharmaceutical performance.</p>
									</div>
									<div class="small-12 medium-8 columns footer__contact">
										<div class="row">
											<div class="small-7 columns footer__contact-map">
												<img src="assets/footer__contact-map.jpg" alt="Contact Us map" />
											</div>
											<div class="small-5 columns">
												<h2>Corporate Headquarters</h2>
												<p>3201 Beechleaf Court<br />Suite 600<br />Raleigh, NC 27604-1547</p>
												<p>Phone: 919 876 9300<br />Fax: 919 876 9360<br />Toll-Free: 866 462 7373</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="small-12 medium-4 columns">
							<div class="footer__item">
								<div class="row">
									<div class="small-5 columns footer__menu">
										<a href="#">Corporate Site</a>
										<a href="jobs-search.html">Search Careers</a>
										<a href="pages-why-work-here.html">Why Work Here</a>
									</div>
									<div class="small-7 columns footer__menu">
										<a href="#">Returning Candidate? Log In!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--close #footer-->

				<div id="footer-copyright">
					<div class="row">
						<div class="small-12 column text-center">
							<p>&copy; 2017 Syneos Health. All Rights Reserved. &nbsp;|&nbsp; <a href="#">Terms of Use</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a></p>
						</div>
					</div>
				</div><!--close #footer-copyright-->

			</div><!--close #page-container-inner-->

		</div><!--close #page-container-->

		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
		<script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
		<script>$(document).foundation();</script>
		<script src="javascripts/theme-local.js"></script>	
	</body>
</html>